<div class="container p-4">
    <div class="d-flex align-items-center mt-15" id="carga">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>

<div class="container" id="todo" hidden>
    <div class="text-center">
        <h1>Vuelos</h1>
    </div>

    <table class="table table-striped table-hover px-0">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Asientos tur</th>
                <th scope="col">Asientos buss</th>
                <th scope="col">Asientos prim</th>
                <th scope="col">Precio</th> 
                <th scope="col">Porcent. buss</th>
                <th scope="col">Porcent. prim</th>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Proveedor</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let vuelo of vuelosVer">
                <th scope="row">
                    {{vuelo.id_prod}}
                    <div class="d-grid gap-0 d-md-block">
                        <a class="btn btn-success btn-sm" [routerLink]="['/vuelos/modify', vuelo.id_prod]">Editar</a> 
                        <button class="btn btn-danger btn-sm" (click)="deleteVuelo(vuelo.id_prod)">Borrar</button>
                      </div>
                </th>
                <td>{{vuelosService.imprimirFecha(vuelo.fecha)}}</td>
                <td>{{vuelo.num_asi_tur - vuelo.ocup_asi_tur}}</td>
                <td>{{vuelo.num_asi_buss - vuelo.ocup_asi_buss}}</td>
                <td>{{vuelo.num_asi_prim - vuelo.ocup_asi_prim}}</td>
                <td>{{vuelo.precio_unitario}}</td> 
                <td>{{vuelo.porc_buss}}</td>
                <td>{{vuelo.porc_prim}}</td>
                <td>{{vuelo.aero_sal_nombre}}</td>
                <td>{{vuelo.aero_lleg_nombre}}</td>
                <td>{{vuelo.nombre_prov}}</td>
            </tr>
        </tbody>
    </table>
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li [hidden]="indActual == 0" class="page-item"><a class="page-link"
                    (click)="paginar(indActual - numPagina)"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i></a></li>
            <li class="page-item" *ngFor="let paginaV of indices"><a class="page-link"
                    (click)="paginar(paginaV.indice)"> {{paginaV.pagina}} </a></li>
            <li [hidden]="indActual >= maxIndice" class="page-item"><a class="page-link"
                    (click)="paginar(indActual+ numPagina)"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i></a></li>
        </ul>
    </nav>

    <a routerLink="/vuelos/add" class="btn btn-success btn-block mt-4">Añadir vuelo</a>
</div>
</div>