<div class="container text-center">
    <h1>Estaciones de tren</h1>
    
    <div class="container row">
    <div class="col-md-4 mt-3" *ngFor="let estau of esttren">
        <div class="card text-center">
            <div class="card-header d-flex justify-content-center">
                {{estau.nombre}}
                 <br>
                {{estau.nombre_ciud}}, {{estau.pais}}
            </div>
            <div class="card-body">
                <!--Vuelos llegada: {{cuenta(aeropuerto.id_aero, "ida")}}
                <br>
                Vuelos salida: {{cuenta(aeropuerto.id_aero, "vuelta")}}
                <br>
                <div class="container mt-3">-->
                    <a [routerLink]="['/esttrenes/modify', estau.id_estr]" class="btn btn-info btn-block">Modificar</a>
                    <button class="btn btn-danger" (click)="deleteEstTren(estau.id_esau)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <!--</div>-->
            </div>
        </div>
    </div>
    </div>
    
    <a routerLink="/esttrenes/add" class="btn btn-success btn-block mt-4">Añadir estación</a>
    </div>