<nav class="navbar navbar-expand-lg " style="background-color: #d5e1e9;">
        <div class="container">
          <img src="https://drive.google.com/uc?id=13UX0R4XyzRP_frcZjqGcvddwEH6dFJNg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          <a class="navbar-brand" routerLink="/">OF viajes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/vuelos" routerLinkActive="active">Vuelos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/autobuses" routerLinkActive="active">Autobuses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/trenes" routerLinkActive="active">Trenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/alojamientos" routerLinkActive="active">Alojamientos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  [hidden]="!authService.loggedIn() || authService.getRolUsuario() !== 'admin'">
                  Gestionar
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/ciudades">Ciudades</a></li>
                  <li><a class="dropdown-item" routerLink="/proveedores">Proveedores</a></li>
                  <li><a class="dropdown-item" routerLink="/aeropuertos">Aeropuertos</a></li>
                  <li><a class="dropdown-item" routerLink="/estautobuses">Estaciones autobus</a></li>
                  <li><a class="dropdown-item" routerLink="/esttrenes">Estaciones de tren</a></li>
                  <li><a class="dropdown-item" routerLink="/vuelos/list">Vuelos</a></li>
                  <li><a class="dropdown-item" routerLink="/autobuses/list">Autobuses</a></li>
                  <li><a class="dropdown-item" routerLink="/trenes/list">Trenes</a></li>
                </ul>
              </li>
            </ul>
            <span class="navbar-text">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login" [hidden]="authService.loggedIn()">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/registro" [hidden]="authService.loggedIn()">Registro</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/perfil" [hidden]="!authService.loggedIn()">Buenas {{authService.getUserName()}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="cursor:pointer" (click)="authService.logOut()" [hidden]="!authService.loggedIn()">Cerrar sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/cesta" [hidden]="!authService.loggedIn()"><i class="fa fa-cart-shopping fa-flip-horizontal fa-xl"></i></a>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </nav>