<nav class="navbar navbar-expand-lg " style="background-color: #d5e1e9;">
        <div class="container">
          <a class="navbar-brand" routerLink="/">Nombre de la web</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/vuelos" routerLinkActive="active">Vuelos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ciudades" routerLinkActive="active">Ciudades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/alojamientos" routerLinkActive="active">Alojamientos</a>
              </li>
            </ul>
            <span class="navbar-text">
              Navbar text with an inline element
            </span>
          </div>
        </div>
      </nav>