<div class="container p-4">
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    Buscador de vehículos
                </div>
                <div class="card-body row">
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Recogida</label>
                        <input class="form-control" list="datalistOptions" id="desdeList"
                            placeholder="Escriba para buscar..." [(ngModel)]="form.desde">
                        <datalist id="datalistOptions">
                            <option *ngFor="let aero of this.aeropuertos" [value]="aero.id_aero">
                                {{aero.nombre}} ({{aero.cod_iata}})
                            </option>
                        </datalist>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Devolución</label>
                        <input class="form-control" list="datalistOptions" id="haciaList"
                            placeholder="Escriba para buscar..." [(ngModel)]="form.hacia">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Tipo vehículo</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="form.clase">
                            <option selected value="turista">Sedán</option>
                            <option value="bussiness">Monovolumen</option>
                            <option value="primera">Todoterreno</option>
                        </select>
                    </div>
                    
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Marca</label>
                        <input class="form-control" list="datalistOptions" id="haciaList"
                            placeholder="Escriba para buscar..." [(ngModel)]="form.hacia">
                    </div>                    
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Modelo</label>
                        <input class="form-control" list="datalistOptions" id="haciaList"
                            placeholder="Escriba para buscar..." [(ngModel)]="form.hacia">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Edad del conductor</label>
                        <input type="number" min="0" max="10" class="form-control" class="form-control" id="viajeros"
                            placeholder="" [(ngModel)]="form.num_viaj_e">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Fecha inicial</label>
                        <input type="date" class="form-control" class="form-control" id="ida" placeholder=""
                            [(ngModel)]="form.ida">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Fecha devolución</label>
                        <input type="date" class="form-control" class="form-control" id="vuelta" placeholder=""
                            [(ngModel)]="form.vuelta">
                    </div>
                    <div class="mb-3 col-md-2">
                        <label for="exampleFormControlTextarea1" class="form-label">Número de asientos</label>
                        <input type="number" min="0" max="10" class="form-control" class="form-control" id="viajeros"
                            placeholder="" [(ngModel)]="form.num_viaj">
                    </div>
                    <div class="mb-3 col-md-2">
                        <button class="btn btn-success mt-3" type="submit" name="email" (click)="null" [disabled]="form.desde == '' || form.clase == '' || form.ida == '' || form.num_viaj == 0
                                     || (form.vuelta != '' && form.vuelta < form.ida)">
                            Buscar
                        </button>
                    </div>
                    <label style="color: rgb(197, 21, 21);"
                        [hidden]="(form.ida == '' || form.vuelta == '') || form.vuelta > form.ida">
                        <b>Debe seleccionar una fecha de vuelta posterior a la de ida</b>
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4 col-md-10 offset-md-1">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="collapsed accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Filtros
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4>Filtros</h4>
                        <div class="container row">
                            <div class="container mb-3 col-md-3">
                                <label for="">Precio máximo</label>
                                <input type="text" class="form-control" class="form-control" id="pmax" placeholder=""
                                    [(ngModel)]="filtro.pmax">
                            </div>
                            <div class="container mb-3 col-md-3">
                                <label for="">Hora desde</label>
                                <input type="time" class="form-control" class="form-control" id="hdesde" placeholder=""
                                    [(ngModel)]="filtro.hdesde">
                            </div>
                            <div class="container mb-3 col-md-3">
                                <label for="">Hora hasta</label>
                                <input type="time" class="form-control" class="form-control" id="hhasta" placeholder=""
                                    [(ngModel)]="filtro.hhasta">
                            </div>
                        </div>
                        <h4>Ordenar</h4>
                        <div class="container">
                            <select class="form-select" aria-label="ordenFiltro" [(ngModel)]="filtro.orden">
                                <option selected>Elige un metodo de ordenación</option>
                                <option value="1">Precio ascendente</option>
                                <option value="2">Precio descendente</option>
                                <option value="3">Hora ascendente</option>
                                <option value="4">Hora descendente</option>
                            </select>                     
                        </div>
                        <button class="btn btn-success mt-3" type="submit" name="email" (click)="null" [disabled]="form.desde == '' || form.clase == '' || form.ida == '' || form.num_viaj == 0
                             || (form.vuelta != '' && form.vuelta < form.ida)">
                            Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-2" id="resIdas" hidden>
        <div class="col-md-8 offset-md-2">
            <h3>Resultados</h3>
            <div class="card">
                <div class="card-header">
                    {{idas.length}} vuelos de ida
                </div>
                <div class="card-body">
                    <div *ngFor="let vuelo of paginIdas" class="container row ml-2 mb-3">
                        <div class="card">
                            <div class="card-body">
                                Desde: {{vuelo.aero_sal_nombre}} - A: {{vuelo.aero_lleg_nombre}}
                                <br>
                                Fecha: {{vehiculoService.imprimirFecha(vuelo.fecha)}}
                                <br>
                                {{form.num_viaj}} viajeros en clase {{form.clase}}
                                Precio: {{form.num_viaj}} x {{vuelo.precio_unitario *
                                (form.clase == "turista" ? 1 : (form.clase == "bussiness" ? vuelo.porc_buss :
                                vuelo.porc_prim))}} = {{
                                form.num_viaj * vuelo.precio_unitario *
                                (form.clase == "turista" ? 1 : (form.clase == "bussiness" ? vuelo.porc_buss :
                                vuelo.porc_prim))
                                }}
                                <br>
                                <button (click)="null" class="btn btn-success mt-3">Añadir a cesta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li [hidden]="indActualIda == 0" class="page-item"><a class="page-link"
                        (click)="null"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i></a></li>
                <li class="page-item" *ngFor="let paginaI of indicesIda"><a class="page-link"
                        (click)="null"> {{paginaI.pagina}} </a></li>
                <li [hidden]="indActualIda >= maxIndIda" class="page-item"><a class="page-link"
                        (click)="null"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>
    
    <div class="container mt-4" id="resVueltas" hidden>
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    {{vueltas.length}} vuelos de vuelta
                </div>
                <div class="card-body">
                    <div *ngFor="let vuelo of vueltas" class="container row ml-2 mb-3">
                        <div class="card">
                            <div class="card-body">
                                Desde: {{vuelo.aero_sal_nombre}} - A: {{vuelo.aero_lleg_nombre}}
                                <br>
                                Fecha: {{vehiculoService.imprimirFecha(vuelo.fecha)}}
                                <br>
                                {{form.num_viaj}} viajeros en clase {{form.clase}}
                                Precio: {{form.num_viaj}} x {{vuelo.precio_unitario *
                                (form.clase == "turista" ? 1 : (form.clase == "bussiness" ? vuelo.porc_buss :
                                vuelo.porc_prim))}} = {{
                                form.num_viaj * vuelo.precio_unitario *
                                (form.clase == "turista" ? 1 : (form.clase == "bussiness" ? vuelo.porc_buss :
                                vuelo.porc_prim))
                                }}
                                <br>
                                <button class="btn btn-success mt-3">Añadir a cesta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li [hidden]="indActualVuelta == 0" class="page-item"><a class="page-link"
                        (click)="null"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i></a></li>
                <li class="page-item" *ngFor="let paginaV of indicesVuelta"><a class="page-link"
                        (click)="null"> {{paginaV.pagina}} </a></li>
                <li [hidden]="indActualVuelta >= maxIndVuelta" class="page-item"><a class="page-link"
                        (click)="null"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>
    </div>
    <!--
    aero_lleg_nombre    aero_llegad        aero_sal_nombre
    aero_salida         cod_iata_lleg      cod_iata_sal
    duracion            fecha              id_prod
    id_prov             ida                nombre_prov
    num_asi_buss        num_asi_prim       num_asi_tur
    ocup_asi_buss       ocup_asi_prim      ocup_asi_tur
    porc_buss           porc_prim          precio_unitario
    sede_prov           uds_disponibles    uds_ocup
    -->